#fsc{
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}
#fsc.overlay-open {
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}
.workSpaceMenu {
	z-index: 13;
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	height: 100%;
	width: 7em;
	list-style-type: none;
	padding: 0;
	box-shadow: 1px 0px 2px rgba(44, 44, 44, 0.34);
	background: rgba(0, 151, 252, 0.85);
/*background: #2aa5fc;*/
}
.workSpaceMenu  li a{
	display: block;
	text-decoration: none;
	height: auto;
	line-height: 3em;
	text-align: center;
	color: #ffffff;
	position: relative;
	border-bottom: 1px solid rgba(255, 255, 255, 0.12);
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out;
	cursor: pointer;
}
.workSpaceMenu  li a:hover{
	background: #81cafd;
	color: #fff;
}
.workSpaceMenu.admin-menu {
	box-shadow: 2px -5px 3px rgba(44, 44, 44, 0.34);
	background: rgba(41, 44, 47, 0.92);
}
.admin-menu li a{
	color: #C3C3C3;
}
.workSpaceMenu.admin-menu li a:hover{
	background: #47a3da;
	color: #fafafa;
	text-shadow: none;
}
/* class for current item */
.workSpaceMenu li.cbp-vicurrent a{
	background: #fff;
	color: #47a3da;
}
.workSpaceMenu.admin-menu li.cbp-vicurrent a{
	background: #fff;
	color: #47a3da;
}
.pageAct span{
	cursor: pointer;
}

.overlay-slidedown {
	visibility: hidden;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
	transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.pagination>li>span{
	color: #1e1e1e;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*Toggle switch Begin*/
.switch{ /**/
	border-top: 1px solid #d7d7d7;
	border-bottom: 1px solid #fbfbfb;
	border-left: 1px solid #e3e3e3;
	border-right: 1px solid #fbfbfb;
	padding-top: 3px;
	padding-right: 7px !important;
	background-color: #f3f3f3;
	height: 32px;
}
.sw-toggle {
	position: absolute;
	margin-right: 5px;
	margin-left: -9999px;
	visibility: hidden;
}
.sw-toggle + label {
	display: inline-block;
	position: relative;
	cursor: pointer;
	outline: none;
	user-select: none;
}
/*Border*/
input.sw-toggle-sq + label {
	width: 46px;
	height: 20px;
	background-color: #c8c8c8;
	border-radius: 2px;
	margin-top: 2px;
}
input.sw-toggle-sq + label:before,
input.sw-toggle-sq + label:after {
	background-color: #d9534f;
	background-color: #d9d9d9;
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	bottom: 1px;
	content: "";
}
input.sw-toggle-sq + label:before {
	right: 1px;
	border-radius: 2px;
	transition: background 0.4s;
}
/*top switch*/
input.sw-toggle-sq + label:after {
	width: 20px;
	background-color: #fff;
	border-radius: 15%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
input.sw-toggle-sq.checked + label:before {
	background-color: #6cd77a;
}
input.sw-toggle-sq.checked + label:after {
	margin-left: 24px;
}
/*Label on left important add bootstrap pull-left */
.switch span{
	font-size: 15px;
	font-weight: lighter;
	padding: 5px 10px 0px 10px;
}
/*Toggle switch End*/

.in_wrapper{ /**/
	height: 32px;
	border-top: 1px solid #d7d7d7;
	border-bottom: 1px solid #fbfbfb;
	border-left: 1px solid #e3e3e3;
	border-right: 1px solid #fbfbfb;
	margin-left: 5px;
	padding-top: 3px;
	padding-right: 7px !important;
	background-color: #f3f3f3;
}
.in_wrapper span{
	font-size: 15px;
	font-weight: lighter;
	padding: 4px 10px 0px 10px;
}


@media screen and (max-width: 48em){
	.workSpaceMenu {
		width: 100%;
		height: auto;
		visibility: hidden;
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		-webkit-transition: -webkit-transform 0.4s ease-in, visibility 0s 0.4s;
		transition: transform 0.4s ease-in, visibility 0s 0.4s;
	}
	.workSpaceMenu.open {
		visibility: visible;
		display: block;
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
		/*-webkit-transition: -webkit-transform 0.4s ease-in-out;*/
		-webkit-transition: -webkit-transform 0.4s cubic-bezier(.81,.25,.65,1.24);
		/*transition: transform 0.4s ease-in-out;*/
		transition: transform 0.4s cubic-bezier(.81,.25,.65,1.24);
	}
	.workSpaceMenu  li a{
		line-height: 3.5em;
	}
	.hamburger-button{
		display: block;
	}
	.col-xs-12, .col-sm-10, .col-md-10, .col-lg-10{
		padding-right: 5px;
	}
}
@media only screen and (min-width: 1170px) {
    .popupbox-container {
        margin: 8em auto;
    }
}

